.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    border-radius: 4px;
    border: 1px solid #d83f87;
    background: #fff;
    height: 40px;
    width: 137px;
    margin: 0 6px 8px;
    padding: 6px 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 18px;
    text-decoration: none;
    height: 100%;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.onButton,
.onEntered {
    background-color: #d83f87;
    color: #fff;
}

.onEntered {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    opacity: 0.5;
}