<div class="card-container">
    <button
      *ngFor="let province of provinces"
      [attr.key]="province.id"
      [ngClass]="{
        'card': true,
        'onButton': provinceSelected.search === province.search,
        'onEntered': searchEntered === province.search && searchEntered !== provinceSelected.search}"
      on-mouseover="mouseEnter(province.search)"
      (mouseout)="mouseEnter('')"
      (click)="selected(province.search, province.title)"
    >
        <span>{{province.title}}</span>
    </button>
</div>
