<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <app-map (mapClicked)="childMapClicked($event)" (mapEntered)="childMapEntered($event)" [provinceSelected]="provinceSelected" [searchEntered]="searchEntered"></app-map>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <app-list (listClicked)="childListClicked($event)" (listEntered)="childListEntered($event)" [provinceSelected]="provinceSelected" [searchEntered]="searchEntered"></app-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-info (mapClicked)="childMapClicked($event)" [provinceSelected]="provinceSelected"></app-info>
                </div>
            </div>
        </div>
    </div>
</div>