svg {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

path {
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}

.land {
  fill-opacity: 1;
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.onPath,
.onPathEntered {
  fill: #d83f87;
}

.onPathEntered {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  opacity: 0.5;
}
