/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(42, 27, 61);
  background: linear-gradient(
    90deg,
    rgba(42, 27, 61, 1) 30%,
    rgba(68, 49, 141, 1) 70%
  );
}
