.terminal {
    position: relative;
    width: 90%;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    width: 100%;
    /* The image used */
    background: rgb(216, 63, 135);
    background: linear-gradient( 90deg, rgba(216, 63, 135, 1) 0%, rgba(233, 128, 116, 1) 100%);
    /* You must set a specified height */
    height: fit-content;
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

.terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: rgb(216, 63, 135);
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
}

.terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 0 1rem 1rem;
    margin: 0;
}

.city {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.3rem;
    padding-bottom: .2rem;
    font-size: 1.75rem;
}

.date {
    text-align: right;
}

.temp {
    text-align: center;
}

.temp-actual {
    font-size: 5rem;
    letter-spacing: 0.75rem;
    display: block;
}

.feelsLike {
    font-size: 1.1rem;
}

.temp-range {
    font-size: 2rem;
    display: block;
}

.weather-info {
    text-align: center;
    font-size: 1.1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.phrase {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
}

.weather-info div img {
    width: 70%;
}

.weather-title {
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    display: block;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.weather-value {
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    text-align: center;
    display: block;
}

.separator {
    margin: 0 2rem;
    width: 2px;
    height: 2.5rem;
    background-color: #fff;
}

.weather-extra {
    margin-top: 30px;
    margin-bottom: 10px;
}

.empty {
    visibility: hidden;
}

.error {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.5;
    font-size: 2rem;
}