<div class="terminal">
    <div class="container-fluid" [ngClass]="{'empty': !info}">
        <div class="row">
            <div class="col-6">
                <h1 class="city">{{provinceSelected?.title}}</h1>
                <span>Actualizado a las {{info?.vt1observation?.observationTime |
          date:'shortTime'}}
        </span>
            </div>
            <div class="col-6 date">
                <h2>{{ today | date }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 weather-info">
                <span class="phrase">{{info?.vt1observation?.phrase}}</span>
                <span>Índice UV {{info?.vt1observation?.uvIndex}} de 10
          ({{info?.vt1observation?.uvDescription}})</span>
            </div>
            <div class="col-md-6 temp">
                <span class="temp-actual">{{info?.vt1observation?.temperature|
          number:'1.0-0'}}°</span>
                <span class="feelsLike">Sensación {{info?.vt1observation?.feelsLike}}°</span>
                <!-- <span class="temp-range">
          Min: {{info?.main?.temp_min| number:'1.0-0'}}° /
          Max: {{info?.main?.temp_max| number:'1.0-0'}}°
        </span> -->
            </div>
        </div>
        <div class="row weather-extra">
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="weather-title">Presión</span>
                <span class="weather-value">{{info?.vt1observation?.altimeter |
          number:'1.0-0'}} mb</span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="weather-title">Humedad</span>
                <span class="weather-value">{{info?.vt1observation?.humidity}}%</span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="weather-title">Visibilidad</span>
                <span class="weather-value">{{info?.vt1observation?.visibility |
          number:'1.0-0'}}
          km.</span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="weather-title">Vientos</span>
                <span class="weather-value">{{info?.vt1observation?.windDirCompass}}
          {{info?.vt1observation?.windSpeed}} km/h</span>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="!info && !err"></app-spinner>
    <div *ngIf="err" class="container-fluid" class="error">
        {{err}}
    </div>
</div>